*, *::before, *::after {
    margin:0;
    padding:0;
}
html {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    color:#ffffff;
    box-sizing: border-box;
    font-size:15px;
}
a,li{
    list-style: none;
    text-decoration: none;
}
a:visited{
    color:#01B4DB;
}
.lcontact:visited{
    color:white;
}
.btncontact{
    width: 150px;
    padding:1em;
    font-size: 0.8em;
    border-radius: 2em;
    cursor: pointer;
}
nav{
    display:flex;
    justify-content: flex-end;
    padding:1em;
    font-size:1em;
}
li{
    padding:1em;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    height:30em;
    font-size: 1.2em;
    background-color:#293144;
}
header h2{
    font-weight: 300;
    font-size: 1em;
    color: #01B4DB;
    margin:0.5em 0em 2em 0em;
}
.lblue_link{
    color:#01B4DB;
}
.wrap {
    background-color: #252B42;
}
header button{
    display:flex;
    justify-content: center;
    font-weight:600;
    width:20%;
    color:white;
    background-color: #01B4DB;
    border:none;
}
header a{
    color:white;
}
.photo{
    width:200px;
    margin-bottom:2em;
}
.p_title{
    font-weight: 900;
    font-size: 1em;
}
#about p{
    margin:0.5em;
    width:330px;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height:2em;
    margin-top:2em;
    padding:1.5em;
}
.lblue{
    color:#01B4DB;
    font-size: 1.1em;
    text-align:center;
}
.skills_title{
    margin-bottom:2em;
}
#skills{
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill{
    margin-bottom: 2em;
}
.bar { 
    height: 0.8em;
    width:320px;
    position: relative;
    background: #1a1e2e;
    overflow: hidden;
    border-radius: 1em; 
    margin-top:0.5em; 
}
.bar span {
    display: block;
    height: 100%;
}
.progress {
    background-image: linear-gradient(to right,#297CC9,#58C5F4);    
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}
@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
.splitbar{
    display: flex;
    justify-content: center;
    margin-bottom:4em;
}
.bar--white{
    width: 15em;
    height:0.1em;
    border-radius: 1em;
    background-color: white;
}
.role{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: center;
    color:black;    
}
.frontendcard,.backendcard{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 320px;
    padding: 1.2em;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    margin:1em;
}
.role img{
    width:100%;
}
#projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:4em 0 4em 0;
}
.allprojectcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.projectcard{
    background-color:white;
    width: 320px;
    margin:1em;
    border-radius: 1em;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.projectcard img{
    width:100%;
    height: 100%;
    transition: .25s ease-in-out;
}
.projectcard_linktxt{
    margin-top: 1em;
    font-size: 1.5em;
}
figure{
    position:relative;
    margin:0;
    padding:2em;
    overflow: hidden;
    
    
}
figure:hover figcaption{
    opacity:1;
}
figcaption{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position:absolute;
    background-color:#000000b2;
    opacity:0;
    z-index: 0;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:0.8em;
    transition: .45s ease-in-out;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em 0em 2em 0em;
}
#contact p{
    margin:1em;
    width:350px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
}
input,textarea{
    font-family:inherit;
    margin-top: 1.5em;
    border-radius: 2em;
    padding: 1em 2em 1em 2em;
    transition-duration: 0.7s;
    outline:none;
    border:none;
    border:solid 0.2em white;
}
.formmsg{
    height: 10em;
}
.formmsg::placeholder,input::placeholder{
   font-family: 'Montserrat', sans-serif;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;
}
input:focus, textarea:focus{
    border:solid 0.2em #01B4DB;
}
.btnsend{
    background-color: #01B4DB;
    border:none;
    color:white;
    width:15em; 
    display: flex;
    justify-content: center;
    font-weight: 600;
}
footer{
    color:black;
    text-align: center;
    font-weight: 600;
    background-color: white;
    height: 6em;
    width:100%;
    margin-top: 2em;
}
.social_icons{
    color:#01B4DB;
    font-size:3em;
}
.social_icons i{
    margin:0.4em;
}


@media screen and (min-width: 770px) {
    #about p{
        margin:0.5em;
        width:650px;
    }
    .duoblock{
        display: flex;
        justify-content: space-evenly;
        width: 760px;
    }
    .bar--white{
        width:30em;
    }
    .form{
        width: 600px;
    }
    #contact p{
        width: 600px;
    }
}
@media screen and (min-width: 1440px) {
    #about p{
        margin:0.5em;
        width:950px;
    }
}